@font-face {
    font-family: 'Open Dyslexia';
    src: url(/dyslexiafont.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fuzzy Bubbles';
    height: 100%;
    width: 100vw; 
    margin: 0 auto;
}

.version {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.project {
    width: 60%;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1rem;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px; 
    justify-content: space-evenly;
    align-items: center;
}

.project:hover {
    animation-name: buttonAnimate;
    animation-duration: .8s;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
}

.noAnim:hover {
    animation: none;
}

.noShadow:hover {
    animation-name: buttonAnimate-noShadow;
    box-shadow: none;
}

.toggle, .toggleAll {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

.toggleAll {
    margin-top: 60px; 
    width: 100%; 
}

.toggle:hover, .toggleAll:hover {
    background-color: darkgreen;
    color: white;
}

.toggle::after, .toggleAll::after {
    content: " Off";
}

.toggled {
    background-color: lightgreen;
    color: black;
}

.toggled:hover {
    background-color: darkgreen;
}

.toggled::after {
    content: " On";
}

.simple {
    font-family: sans-serif;
}

.dyslexic {
    font-family: 'Open Dyslexia';
}

.access-modal {
    position: absolute;
    margin-left: 700px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    display: none;
}

.open-modal {
    position: absolute; 
    height: 50px;
    width: 50px;
    margin-left: 800px;
    background-color: transparent;
    border-radius: 5px;
}

.open-modal:hover {
    background-color: black;
    color: white;
    cursor: pointer; 
}

.access-modal p {
    margin: 5px 0;
}

.access-modal.show {
    display: block;
}

.close {
    position: relative;
    float: right;
    font-size: 24px;  
}

.close:hover {
    cursor: pointer;
    color: darkslategrey;
}

@keyframes buttonAnimate {
    0% {
        bottom: 0px;
        opacity: 0;
        background-color: white;
        box-shadow: 0 0 0;
    }

    10% {
        opacity: 1;
        background-color: blue;
    }

    20% {
        opacity: 1;
        background-color: purple;
    }

    30% {
        opacity: 1;
        background-color: yellow;
    }

    40% {
        opacity: 1;
        background-color: green;
    }

    50% {
        opacity: 1;
        background-color: red;
        box-shadow: 10px 10px 10px black;
    }

    60% {
        opacity: 1;
        background-color: orange;
        box-shadow: 10px 10px 10px black;
    }
    70% {
        opacity: 1;
        background-color: teal;
        box-shadow: 10px 10px 10px black;
    }

    80% {
        opacity: 1;
        background-color: lawngreen;
        box-shadow: 10px 10px 10px black;
    }

    90% {
        opacity: 1;
        background-color: orchid;
        box-shadow: 10px 10px 10px black;
    }

    100% {
        opacity: 1;
        background-color: black;
        box-shadow: 10px 10px 10px black;
    }
}

@keyframes buttonAnimate-noShadow {
    0% {
        bottom: 0px;
        opacity: 0;
        background-color: white;
    }

    10% {
        opacity: 1;
        background-color: blue;
    }

    20% {
        opacity: 1;
        background-color: purple;
    }

    30% {
        opacity: 1;
        background-color: yellow;
    }

    40% {
        opacity: 1;
        background-color: green;
    }

    50% {
        opacity: 1;
        background-color: red;
    }

    60% {
        opacity: 1;
        background-color: orange;
    }
    70% {
        opacity: 1;
        background-color: teal;
    }

    80% {
        opacity: 1;
        background-color: lawngreen;
    }

    90% {
        opacity: 1;
        background-color: orchid;
    }

    100% {
        opacity: 1;
        background-color: black;
    }
}

@media (max-width:768px) {
    body {
        width: 100%;
    }

    .access-modal {
        margin-left: 320px; 
    }

    .open-modal {
        margin-left: 450px; 
    }
}
