@font-face {
    font-family: 'Open Dyslexia';
    src: url(https://joelnod.uk/dyslexiafont.otf);
    font-weight: normal;
    font-style: normal;
}

.dyslexic {
    font-family: 'Open Dyslexia';
}

body {
    background: #6E6E6E;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    font-family: sans-serif;
    flex-direction: column;
}

.container {
    width: 450px;
    border: 2px solid #c1ff55;
    border-radius: 15px;
    color: #BCFD4C;
    text-align: center;
}

.container:last-of-type {
    border: 2px solid #9DAAF2;
    color: #9DAAF2;
    background-color: #1A2238;
}

.title {
    margin-left: 20px;
    margin-right: 20px;
}

.title:hover {
    cursor: text;
}

.save {
    width: 20px;
    height: 20px; 
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    padding: 5px;
    border: none;
    background: inherit;
}

.fa-solid {
    font-size: 1rem;
    color: lightgreen;
}

.franchise {
    list-style: none;
    font-size: 16px;
    width: 90%;
    height: 35px;
    background-color: white;
    margin-bottom: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid white;
}

li {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.newType {
    margin: 10px 0;
    background-color:  white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}

.franchise:hover, .newType:hover{
    color: white;
    background-color: grey;
    cursor: pointer;
}

.remove {
    position: absolute;
    background-color: red;
    border-radius: 5px;
    margin-left: 330px;
    color: white;
    font-weight: bold;
}

.remove:hover {
    cursor: pointer;
    background-color: darkred;
}

.shadow {
    box-shadow: 10px 10px 20px black;
}

.wikipedia {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    margin-left: 260px;
    font-family: 'Playfair Display';
}

.wikipedia:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

@media(max-height:1080px) {

    .container {
        width: 95%;
    }

    .remove {
        margin-left: 350px;
    }
}

@media(max-height:768px) {
    body, .franchise, button {
        font-size: 12px;
    }

    .container:last-of-type {
        height: 310px;
    }

    .container {
        width: 90%;
    }

    .remove {
        margin-left: 315px;
    }

    .wikipedia {
        margin-left: 230px;
    }
}